*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
.angulardoc.json
*.sublime-project
*.sublime-workspace
npm-debug.log*
/node_modules/
/tmp/
/temp/
/hooks/
/plugins/
/platforms/
/www/
/.sourcemaps/
cinnecta_plugins/
cinnecta
/config/dev.config.json
/documentation/
